
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registration From</h2>
                <div class="form-outline mb-4">
                  <label for="name" class="form-label">Your Name</label>
                  <input type="text" [(ngModel)]="yourname" class="form-control">
                </div>
                <div class="form-outline mb-4">
                  <label for="email" class="form-label">Your Email</label>
                  <input type="email" [(ngModel)]="youremail" class="form-control">
                </div>

                <div class="form-outline mb-4">
                    <label for="repeatpass" class="form-label">Phone/Mob no.</label>
                    <input type="password" [(ngModel)]="mobile" class="form-control">
                </div>

                <div class="form-outline mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" [(ngModel)]="password" class="form-control">
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" [disabled]="!yourname || !youremail || !mobile || !password" (click)="Register()">Register</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

