<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active"  >
      <a class="nav-link"><h5>Bank</h5></a>
    </li>
    <li class="nav-item" [routerLink]="['/login']">
      <a class="nav-link">Login</a>
    </li>
    <li class="nav-item"  [routerLink]="['/registration']">
      <a class="nav-link">Registration</a>
    </li>
    <li class="nav-item"  [routerLink]="['/emp']">
      <a class="nav-link">Employees</a>
    </li>
    <li class="nav-item"  [routerLink]="['/cust']">
      <a class="nav-link">Customers</a>
    </li>
    <li class="nav-item"  [routerLink]="['/staff']">
      <a class="nav-link">Staff</a>
    </li>
    <li class="nav-item"  [routerLink]="['/state']">
      <a class="nav-link">Statements</a>
    </li>
  </ul>
</nav>
  
<div>
  <router-outlet></router-outlet>
</div>
