<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
            <div class="form-group">
                <label>Employees :</label>
                <input type="text" class="form-control" placeholder="Add Employees" [(ngModel)]="empname">
            </div>
            <button type="submit" *ngIf="!isEdit" class="btn btn-primary mt-2"
                [disabled]="!empname" (click)="onSubmit()">Submit</button>
            <button type="submit" *ngIf="isEdit" class="btn btn-primary mt-2"
                [disabled]="!empname" (click)="onUpdate()">Update</button>
        </div>
        </div>
        </div>
        <div class="col-lg-4 ml-5 mt-4">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employees of employeesList; let i=index">
                        <td>{{employees.name}}</td>
                        <td>
                            <button type="button" class="btn btn-success mr-3 btn-sm" (click)="onEdit(i)">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm" [disabled]="isEdit" (click)="onDelete(i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

